[submodule "algashop-docs"]
	path = algashop-docs
	url = git@github.com:PauloMarcusso/algashop-docs.git
[submodule "algashop-ordering"]
	path = algashop-ordering
	url = git@github.com:PauloMarcusso/algashop-ordering.git
[submodule "microservices/algashop-ordering"]
	path = microservices/algashop-ordering
	url = git@github.com:PauloMarcusso/algashop-ordering.git
